button:active {
  background: linear-gradient(90deg, #846573 0%, #ec4c4c 53.38%, #f7aa47 100%);
  width: 500px;
  height: 50px;
}
button:default {
  background-color: #816170;
  width: 500px;
  height: 50px;
}

.container_form__register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.container_form__register input {
  margin-bottom: 10px;
  background-color: #f8f8f8;
  width: 500px;
  height: 50px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 0 10px;
  color: #333;
}

.container_form__register input:last-child {
  margin-bottom: 0;
}
.errorLabel {
  color: red;
  font-style: inherit;
}
